doctype html
html
head
  title= title
  link(rel='stylesheet', href='assets/build/style/style.min.css')
  link(rel='shortcut icon' href='assets/build/images/logo.ico?v=2')
  meta(name='keywords', content='Gunnar Kauth, Guilt Trip')
  meta(name='description' content= blurb)
  meta(name='author' content='Will Kent-Daggett')

body
  #wrapper
  
    #header
      h1.detailLink(data-detail='landing')= title
      
    #headlines
      p= blurb
        
        span.category Contact
        span :
        each item, index in contact
          - var href = item.link
          - var title = item.name
          if item.name === 'email'
            - href = "mailto:" + item.link
            - title = item.link
            
          if item.name === 'phone'
            - href = "tel:" + item.link
            - title = item.link
            
          a(href= href target='_blank')
            span.list= title
            
          if index !== contact.length - 1
            span ,
          else 
            span .
            
        span.category Current Projects
        span : 
        each artist, index in artists
          a.detailLink.list(data-detail= artist.name)= artist.name
          if index !== artists.length - 1
            span ,  
          else
            span .
          
    #detail
      #landing.detailPane(data-detail='landing') 
        img(src='assets/build/images/logo.png')
      each a in artists
        .detailPane(data-detail= a.name)
          .detailText
            h2= a.name
            img(src=a.imageurl)
            p= a.blurb
              each link, index in a.urls
                span 
                  a(href= link.url target='_blank')= link.name
                  if index !== a.urls.length - 1
                    span , 
                  else
                    span .
            
              
          
  script(src='assets/build/bower_components/jquery/dist/jquery.min.js')
  script(src='assets/build/scripts/scripts.min.js')
