doctype html
html
head
  title= title
  base(href='http://localhost:8000')
  link(rel='stylesheet' type='text/css' href='assets/build/bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='assets/build/style/style.min.css')
  meta(name='viewport' content="width=device-width, initial-scale=1")
  meta(name='author' content='Will Kent-Daggett')

body
  .container-fluid
    #header
      .row
        .col-xs-12.col-sm-6
          h1= title
          h2= position
        .col-xs-12.col-sm-6
          each item in contact
            span= item.url
          each item in profiles
            span #{item.name}: #{item.url}
    #work
      .row
        .col-xs-12
          h2 Work Experience
      .row
        each w in work
          .col-sm-12
            if w.title
              h3 #{w.title} at #{w.company}
            else
              h3= w.company
              
            ul.workDetails
              li= w.date
              li= w.location
              li= w.url
            p= w.blurb
            if w.projects
              h5 Projects: 
              each project in w.projects
                p.projecTitle= project.name
                  if project.url
                    span  (#{project.url})
                p= project.blurb
                  if project.source
                    span  Source: #{project.source}

                
          
            
          
  script(src='assets/build/bower_components/jquery/dist/jquery.min.js')
  script(src='assets/build/scripts/scripts.min.js')
