doctype html
html
head
  title= title
  link(rel='stylesheet', href='assets/build/style/style.min.css')
  
  meta(name='keywords', content='Gunnar Kauth, Guilt Trip')
  meta(name='description' content= blurb)
  meta(name='author' content='Will Kent-Daggett')

body
  #wrapper
  
    #header
      h1.detailLink(data-detail='landing')= title
      
    #headlines
      p
        span= blurb
        
        span.category Contact:
        each key in Object.keys(contact)
          a(href= contact[key] target='_blank')
            span.list= key
            
        span.category Roster: 
        each artist in artists
          span.detailLink.list(data-detail= artist.name)= artist.name
          
    #detail
      #landing.detailPane(data-detail='landing') 
        img(src='http://placehold.it/200x500')
      each a in artists
        .detailPane(data-detail= a.name)
          .detailText
            a(href= a.url target='_blank')
              h2= a.name
            p= a.blurb
          img(src=a.imageurl)
            
              
          
  script(src='assets/build/bower_components/jquery/dist/jquery.min.js')
  script(src='assets/build/scripts/scripts.min.js')
