doctype html
html
head
  title= title
  link(rel='stylesheet', href='assets/build/style/style.min.css')
  
  meta(name='keywords', content='Gunnar Kauth, Guilt Trip')
  meta(name='description' content= blurb)
  meta(name='author' content='Will Kent-Daggett')

body
  #wrapper
  
    #header
      h1.detailLink(data-detail='landing')= title
      
    #headlines
      p= blurb
        
        span.category Contact
        span :
        each item, index in contact
          - var href = item.link
          - var title = item.name
          if item.name === 'email'
            - href = "mailto:" + item.link
            - title = item.link
            
          if item.name === 'phone'
            - href = "tel:" + item.link
            - title = item.link
            
          if index !== contact.length - 1
            - title += ', '
          else
            - title += '. '
            
            
          a(href= href target='_blank')
            span.list= title
            
        span.category Roster
        span : 
        each artist, index in artists
          span.detailLink.list(data-detail= artist.name)= artist.name
          if index !== artists.length - 1
            span ,
          else
            span .
          
    #detail
      #landing.detailPane(data-detail='landing') 
        img(src='http://placehold.it/200x500')
      each a in artists
        .detailPane(data-detail= a.name)
          .detailText
            a(href= a.url target='_blank')
              h2= a.name
            p= a.blurb
          img(src=a.imageurl)
            
              
          
  script(src='assets/build/bower_components/jquery/dist/jquery.min.js')
  script(src='assets/build/scripts/scripts.min.js')
